<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>exhibit2.0.2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Rdf2Json</display-name>
    <servlet-name>Rdf2Json</servlet-name>
    <servlet-class>it.okkam.exhibit.Rdf2Json</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rdf2Json</servlet-name>
    <url-pattern>/Rdf2Json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBeyKeword</display-name>
    <servlet-name>SearchBeyKeword</servlet-name>
    <servlet-class>it.okkam.exhibit.SearchBeyKeword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBeyKeword</servlet-name>
    <url-pattern>/SearchBeyKeword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoteDataSetViz</display-name>
    <servlet-name>RemoteDataSetViz</servlet-name>
    <servlet-class>it.okkam.exhibit.cq.RemoteDataSetViz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteDataSetViz</servlet-name>
    <url-pattern>/RemoteDataSetViz</url-pattern>
  </servlet-mapping>
</web-app>